.page-footer {
    background-color: #000000 !important;
    padding-top: 15px !important;
    padding-bottom: 10px !important;
}

.al-footer-circle {
    color: #404040;
	background: #ffffff;
    display: inline-block;
    width: 36px;
    height: 36px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    text-align: center;
}
.al-footer-circle:hover {
	color: #404040;
	background: #7ebc3c;
}
.al-footer-circle i {
    font-size: 1.5rem;
    line-height: 36px;
}
.al-footer-text {
    font-size: 0.9rem;
    line-height: 0.9rem;
}
#al-design-author {
    color: #297a04;
}