main {
    background: url('../assets/background-image.png') repeat;
}
.al-empty-divider {
    height: 63px;   
}

#al-slider-wrapper {
    background-color: #392c24;
}
#al-slider-brand {
    font-weight: 500;
 }
#al-slider-free {
    font-size: 1.3rem;
 }
#al-slider-from {
    font-weight: 500;
    font-size: 2.5rem;
 }
#al-slider-anchor {
    margin-top: 10px;
    -moz-min-width: 70%;
    -ms-min-width: 70%;
    -o-min-width: 70%;
    -webkit-min-width: 70%;
    min-width: 70%;
    height: 36px;
    line-height: 32px;
    color: #988173;
    border: solid #988173 2px;
    -ms-border-radius: 18px;
    border-radius: 18px;
    display: inline-block;
}
#al-slider-anchor:hover {
    color: #7ebc3c;
    border: solid #7ebc3c 2px;
 }

.al-inner-container {
    width: 90%;
}
@media only screen and (max-width: 600px) {
    .al-inner-container {
        width: 100%;
    }
}

.al-red-divider {
    background-color: #b41500;
    height: 20px;
    width: 100%;
}

.al-green {
    background: url('../assets/inner-conteainer-space-image-green.png') no-repeat;
    height: 60px;
    -ms-background-size: cover;
    background-size: cover;
}
.al-red {
    background: url('../assets/inner-conteainer-space-image-red.png') no-repeat;
    height: 60px;
    -ms-background-size: cover;
    background-size: cover;
}
#al-green-space {
    background-color: #e6f6b5;
    padding: 10px;
}
#al-red-space {
    background-color: #f3e3c1;
    padding: 10px;
}
.al-green h5, .al-red h5 {
    margin-left: 15px;
    font-weight: 400;
}

.al-item {
    height: 440px;
    cursor: pointer;
}
.al-mark-red {
    background: url('../assets/mark_red.png') content-box no-repeat;
    -ms-background-size: contain;
    background-size: contain;
    width: 48px;
    margin-top: -6px;
    position: absolute;
}
.al-mark-orange {
    background: url('../assets/mark_orange.png') content-box no-repeat;
    -ms-background-size: contain;
    background-size: contain;
    width: 48px;
    margin-top: -6px;
    position: absolute;
}
.al-mark-red p, .al-mark-orange p {
    padding-right: 5%;
}

.al-item-card {
    height: 420px;
}
.al-item-container {
    width: 85%;
    display: inline-block;
}
.al-item-wrapper {
    padding-top: 10%;
}
.al-item-title {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 20px;
}
.al-item-text {
    color: #707070;
    font-size: 0.8rem;
    line-height: 120%;
    height: 30px;
}
.al-item-star-icon {
    color: #ff8a00;
    font-size: 2.2rem;
    font-weight: 500;
 }
.al-item-species-text {
    font-size: 0.65rem;
    color: #7d7d7d;
}
.al-item-species-cost {
    color: #b41500;
    font-weight: 600;
}
.al-item-add-icon {
    color: #7dba3b;
}
.al-item-add-button {
    background: url(../assets/cart-covered.png) #7dba3b no-repeat 50% 50%;
    -ms-background-size: 32px;
    background-size: 32px;
    width: 48px;
    height: 48px;
}
.al-item-add-button:hover {
    background: url(../assets/cart.png) #7dba3b no-repeat 50% 50%;
    -ms-background-size: 32px;
    background-size: 32px;
}

#al-why-image {
    background: url('../assets/why-image.png') 50% 0 no-repeat;
    -ms-background-size: 100% 100%;
    background-size: 100% 100%;
}
@media only screen and (max-width: 600px) {
    #al-why-image {
        background: url('../assets/why-image.png') no-repeat;
        -ms-background-size: cover;
        background-size: cover;
    }
}
#al-why-text-1 {
    font-size: 1.4rem;
    margin-bottom: 0;
}
#al-why-text-2 {
    font-size: 3.5rem;
    margin-top: 0;
}
.al-why-text-bold {
    font-weight: 500;
}
.al-why-item-image {
    height: 64px;
}
.al-why-space {
    height: 8%;
}

#al-reviews {
    background-color: #f3e3c1;
    margin-top: -48px;
}
#al-reviews div {
    text-align: center;
}
#al-reviews-title {
    font-weight: 600;
    position: absolute;
    padding-top: 24px;
    width: 100%;
    text-align: center;
}
#al-reviews-inner {
    margin-top: 20px;
}

.al-callout-hidden {
    display: none;
}
.al-callout-image {
    background: url('/assets/callout.png') no-repeat;
    width: 100%;
    height: 180px;
    -ms-background-size: contain;
    background-size: 100% 100%;
}

.al-callout-text {
    text-align: left;
    padding: 15px;
    margin-bottom: 0;
    font-size: 70%;
    font-weight: 500;
    line-height: 1rem;
}
.al-callout-autor {
    text-align: left;
    font-size: 0.85rem;
    font-weight: 500;
    padding-left: 15px;
}
#al-show-all-callouts {
    color: #6e5d53;
}
#al-show-all-callouts:hover {
    color: #7ebc3c;
}

#al-callout-add-anchor {
    height: 96px;
    width: 96px;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: #6f5d53;
    border: solid #6f5d53 5px;
    -ms-border-radius: 48px;
    border-radius: 48px;
    display: inline-block;
    padding-top: 33px;
    margin-top: 64px;
}
#al-callout-add-anchor:hover {
    color: #7ebc3c;
    border: solid #7ebc3c 5px;
 }
@media only screen and (max-width: 600px) {
    #al-callout-add-anchor {
        margin-top: 0;
    }
}

#al-red-info {
    background: url(/assets/space-image-red.png) no-repeat;
    height: 86px;
    width: 100%;
    z-index: 0;
    -ms-background-size: cover;
    background-size: cover;
    position: absolute;
}

#al-dear-friends {
    background-color: #392c26;
    -ms-border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
    -ms-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 120px;
}
#al-dear-friends-text-1 {
    margin-bottom: 0;
    font-size: 0.9rem;
}
#al-dear-friends-text-2 {
    margin-top: 0;
    font-size: 0.9rem;
}
.al-dear-friends-item-image {
    height: 1.5rem;
    padding-left: 10px;
}
.al-dear-friends-item-value {
    color: #ffffff;
}
.al-dear-friends-item-value:hover {
    color: #7ebc3c;
}

#al-gradient-info {
    background: #ffffff;
}
#al-gradient-background {
    width: 100%;
    margin-top: 86px;
    padding-top: 32px;
    padding-bottom: 24px;
    z-index: -1;
    background: 
        linear-gradient(#3d3d3d, transparent 10%, transparent 90%, #3d3d3d),
        repeating-linear-gradient(-45deg, #7a7a7a, #7a7a7a 5px, #706f6d 5px, #706f6d 10px)
}
#al-gradient-top-text {
    font-size: 1.2rem;
    line-height: 1rem;
    -ms-text-shadow: 2px 2px 4px black;
    text-shadow: 2px 2px 4px black;
}
.al-gradient-inner-text{
    color: #eeeeee;
    font-size: 0.9rem;
    line-height: 1rem;
    -ms-text-shadow: 2px 1px 2px black;
    text-shadow: 2px 1px 2px black;
}
#al-gradient-bottom-text {
    font-size: 1.4rem;
    line-height: 1.4rem;
    text-shadow: 0px 1px 2px black;
}